<!DOCTYPE html>

<!--
File Name: template-responsive.html
Date: 02/2021
Programmer: Irina Zelepukhina
-->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
content="width=device-width, initial-scale=1.0">
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700" rel="stylesheet" type="text/css">
    
    <link href="css/template-responsive.css" rel="stylesheet">
    <link href="css/navigation.css" rel="stylesheet" type="text/css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.1/less.min.js"></script>
    
    <title>Title</title>
</head>

<body>
    <div id="wrapper">
        <header>
            
            <h1></h1>
        </header>

        <nav class="nav">
            
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
            
        <ul class="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="events.html">Events</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="reg.html">Registration</a></li>
                <li><a href="contact.html">Contact</a></li>
         </ul>
        
        </nav>

           <aside class="sidebar-right">
            <br>
               <p class="news"> Sit amet venenatis urna cursus eget. Accumsan tortor posuere ac
                ut consequat. In massa tempor nec feugiat nisl pretium fusce id velit. At erat pellentesque adipiscing commodo elit at imperdiet. A erat nam at lectus. Mi eget mauris pharetra et. Mauris cursus mattis molestie a. Fermentum posuere urna
                nec tincidunt. Feugiat in ante metus dictum at. Turpis egestas maecenas pharetra convallis posuere. Auctor urna nunc id cursus metus. Id nibh tortor id aliquet.tis aliquam malesuada bibendum. Nisi lacus sed viverra tellus in hac habitasse.
                Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Tristique magna sit ametre urna
                nec tincidunt. Feugiat in ante metus dictum at. Turpis egestas maecenas pharetra convallis posuere. Mauris cursus mattis molestie a. Fermentum posuere urna
                   </p>
            <br>
        
          
        </aside>
        
        
        
        <div id="homehero"> </div>

        <main>

            <h2>h2 heading</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus non enim praesent elementum facilisis leo vel. Sit amet venenatis urna cursus eget. Accumsan tortor posuere ac
                ut consequat. In massa tempor nec feugiat nisl pretium fusce id velit. At erat pellentesque adipiscing commodo elit at imperdiet. A erat nam at lectus. Mi eget mauris pharetra et. Mauris cursus mattis molestie a. Fermentum posuere urna
                nec tincidunt. Feugiat in ante metus dictum at. Turpis egestas maecenas pharetra convallis posuere. Auctor urna nunc id cursus metus. Id nibh tortor id aliquet.tis aliquam malesuada bibendum. Nisi lacus sed viverra tellus in hac habitasse.
                Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Tristique magna sit amet purus. Amet consectetur adipiscing elit ut aliquam purus. Euismod quis viverra nibh cras pulvinar mattis nunc sed. Ante metus dictum at tempor
                commodo ullamcorper.</p>

            <div>

                <span class="resort">Ace in the Hole Multisport Events</span><br> Adress here<br> Portland, OR<br><br> 
                
                <a id="mobile" href="tel:888-555-5555">971-555-5555</a>
                <span id="desktop">971-555-5555</span>

                <br><br>

            </div>


        </main>

    <aside class="sidebar-bottom">
            
               <p class="news2"> Sit amet venenatis urna cursus eget. Accumsan tortor posuere ac
                ut consequat. In massa tempor nec feugiat nisl pretium fusce id velit. At erat pellentesque adipiscing commodo elit at imperdiet. A erat nam at lectus. Mi eget mauris pharetra et. Mauris cursus mattis molestie a. Fermentum posuere urna
                nec tincidunt. Feugiat in ante metus dictum at. Turpis egestas maecenas pharetra convallis posuere. Auctor urna nunc id cursus metus. Id nibh tortor id aliquet.tis aliquam malesuada bibendum. Nisi lacus sed viverra tellus in hac habitasse.
                Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Tristique magna sit ametre urna
                nec tincidunt. Feugiat in ante metus dictum at. Turpis egestas maecenas pharetra convallis posuere. Mauris cursus mattis molestie a. Fermentum posuere urna
                   </p>
        
          
        </aside>
        
        <footer>
      <div class="footernav">
        <a href="index.html">Home</a>
                <a href="events.html">Events</a>
                <a href="faq.html">FAQ</a>
                <a href="registration.html">Registration</a>
                <a href="contact.html">Contact</a>
      </div>
            <p style="color:white;">Copyright  &copy; 2021 Ace in the Hole Multisport Events<br>
       <a href="mailto:hello@ahme.com"> hello@ahme.com</a></p>
    </footer> 
    </div>
</body>
</html>